<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>

    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css"/>

    <script type="application/javascript" src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="/lib/vue/vue.global.js"></script>

    <script type="application/javascript" src="/js/penkovsky.js"></script>
</head>
<body onload="Penkovsky.start()">
{% block body %}{% endblock %}
</body>
</html>
